<!DOCTYPE html>

{% load staticfiles %}
{% block extrastyle %}
<style>

body {
    
    background-color: #269dd8;
}

.page-header {
    
    margin-left: 200px;
    color: #d73b3b;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 1000px;
    margin-left: 200px;
}


</style>
{% endblock %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schedule</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static '/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static '/vendor/datatables-plugins/dataTables.bootstrap.css %'}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static '/vendor/datatables-responsive/dataTables.responsive.css %'}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static '/css/sb-admin-2.css %'}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static '/vendor/font-awesome/css/font-awesome.min.css %'}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><center>KENYA AIRWAYS SCHEDULE</center></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Schedule
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Flight No</th>
                                        <th>Aircraft id</th>
                                        <th>Arrival time</th>
                                        <th>Departure time</th>
                                        <th>Date (ddmmyyy)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>KQ600</td>
                                        <td>KQ120</td>
                                        <td>10.00 am</td>
                                        <td >10.45am</td>
                                        <td >25062017</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>KQ650</td>
                                        <td>KQ121</td>
                                        <td>10.20 am</td>
                                        <td >11.05 am</td>
                                        <td >25062017</td>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>KQ700</td>
                                        <td>KQ123</td>
                                        <td>12.00pm</td>
                                        <td 12.45pm</td>
                                        <td class="center">25062017</td>
                                    </tr>
                                    <tr class="even gradeA">
                                        <td>KQ500</td>
                                        <td>KQ321</td>
                                        <td>1.05 pm</td>
                                        <td class="center">1.50 pm</td>
                                        <td class="center">25062017</td>
                                    </tr>
                                    
                                  
                                    <tr class="gradeC">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="center"></td>
                                        <td class="center"></td>
                                    </tr>
                                    <tr class="gradeU">
                                        <td></td>
                                        <td></td>
                                        <td>-</td>
                                        <td class="center"></td>
                                        <td class="center"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            <div class="well">
                                <h4>Note</h4>
                                <p>On click of the button below you choose to assign bays to the selected schedule and it might take a while <a target="_blank" 
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">Assign Bays</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
